<div class="pa3 w-100 justify-center-sm flex items-center bg-{{ref}}-splash">
    <a href="index.html">
        <img 
            src="{{#isInFolder}}../{{/isInFolder}}assets/img/con-logo.png" 
            alt="InflectraCon" 
            class="ma0 dib h7 h5-sm"
            >
    </a>
    <h1 class="dib ml7 fs-h1 dn-sm">
        {{conName}} - {{title}}
    </h1>
</div>