<h1 class="mb0">{{title}}</h1>
<h2 class="mt3">{{message}}</h2>

{{^isEnded}}
    <p class="mt5 mb4 mw720 mx-auto fs-100 bb bt b-vlight-gray py3 px4 tl lh3">
        <strong>All times are shown in {{timezone}}.</strong>  
        </br>
        For you, {{conName}}'s days run from/to {{startingHour}}. 
        Speakers are available to talk to on chat for an hour, the day of their session. 
        Chat start times are shown next to speakers on the program.  
    </p>
{{/isEnded}}

{{#isFirstDayOrEarlier}}
    <div class="mw720 flex flex-wrap bg-off-white br3 px5 px4-sm justify-center mx-auto">
        {{#videoIntrosForFirstDay}}
            <div class="ma4">
                <p class="ma0 fw-b mb2">{{title}}</p>
                <div class="dib br2 ov-hidden">
                    <iframe src="https://player.vimeo.com/video/{{video}}" class="db" width="256" height="144" frameborder="0" allow="autoplay; fullscreen" allowfullscreen ></iframe>
                </div>
            </div>
        {{/videoIntrosForFirstDay}}
    </div>
{{/isFirstDayOrEarlier}}