<div class="bg-chat w-9 min-w9 px4 py3 fs-150 z-2 sticky top0">
    <a href="{{discordUrl}}" target="_blank" class="white tdn-hover transition-all db py1">
        Chat with {{title}}
    </a>
</div>
<iframe src="{{titanUrl}}" class="w-100 h-insideHeader sticky top0 mtn-titan"></iframe>